COMPOSE_PROJECT_NAME=wasndlab
WAS_IMAGE=wasnd-lab:9.0.5.28-ubi9
WAS_BASE_IMAGE=icr.io/appcafe/websphere-traditional:9.0.5.28
WAS_VERSION=9.0.5.28
WAS_INSTALL_ROOT=/opt/WebSphere/AppServers
WAS_ADMIN_USER=wsadmin
WAS_CELL_NAME=LabCell01
WAS_DMGR_NODE=DmgrNode01
WAS_CLUSTER_NAME=AppCluster01
WAS_NODE1_NAME=Node01
WAS_NODE2_NAME=Node02
WAS_SERVER_NAME=server1
WAS_INITIAL_HEAP_MB=256
WAS_MAX_HEAP_MB=768
AWX_OPERATOR_VERSION=2.19.1
AWX_VERSION=24.6.1
KIND_VERSION=v0.20.0
KIND_CLUSTER_NAME=was-aap-lab
LAB_NETWORK=was-aap-lab
LAB_SUBNET=172.29.0.0/24
LAB_PORTAL_BIND_ADDRESS=127.0.0.1
LAB_PORTAL_PORT=8888
