global
    log stdout format raw local0
    maxconn 256

defaults
    log global
    mode http
    option httplog
    timeout connect 5s
    timeout client 30s
    timeout server 30s

frontend was_cluster_http
    bind *:8080
    default_backend was_cluster_members

backend was_cluster_members
    balance roundrobin
    option httpchk GET /was-lab/
    http-check expect status 200
    server node1 was-node1:9080 check inter 3s fall 3 rise 2
    server node2 was-node2:9080 check inter 3s fall 3 rise 2

listen statistics
    bind *:8404
    stats enable
    stats uri /stats
    stats refresh 5s
