global
    log stdout format raw local0

defaults
    log global
    mode tcp
    option tcplog
    timeout connect 5s
    timeout client 1h
    timeout server 1h

resolvers docker
    nameserver dns 127.0.0.11:53
    resolve_retries 3
    timeout resolve 1s
    timeout retry 1s
    hold valid 10s

listen ssh_dmgr
    bind *:2220
    server dmgr 172.29.0.20:22
listen ssh_node1
    bind *:2221
    server node1 172.29.0.21:22
listen ssh_node2
    bind *:2222
    server node2 172.29.0.22:22
listen ssh_base
    bind *:2230
    server base 172.29.0.40:22
listen clustered_app
    bind *:8080
    server cluster_proxy 172.29.0.30:8080
listen cluster_stats
    bind *:8404
    server cluster_proxy_stats 172.29.0.30:8404
listen dmgr_soap
    bind *:8879
    server dmgr 172.29.0.20:8879
listen base_soap
    bind *:8880
    server base 172.29.0.40:8880
listen portal
    bind *:8888
    server portal 172.29.0.11:80
listen dmgr_https
    bind *:9043
    server dmgr 172.29.0.20:9043
listen dmgr_http
    bind *:9060
    server dmgr 172.29.0.20:9060
listen node1_http
    bind *:9081
    server node1 172.29.0.21:9080
listen node2_http
    bind *:9082
    server node2 172.29.0.22:9080
listen base_admin_https
    bind *:9143
    server base 172.29.0.40:9043
listen base_admin_http
    bind *:9160
    server base 172.29.0.40:9060
listen base_app_http
    bind *:9180
    server base 172.29.0.40:9080
listen git
    bind *:9418
    server scm 172.29.0.10:9418
listen node1_https
    bind *:9444
    server node1 172.29.0.21:9443
listen node2_https
    bind *:9445
    server node2 172.29.0.22:9443
listen base_app_https
    bind *:9543
    server base 172.29.0.40:9443
listen awx
    bind *:32000
    server awx was-aap-lab-control-plane:32000 check resolvers docker init-addr libc,none
